.search_button {
  display: inline-block;
  position: relative;
  padding: 0.2em 0.6em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: #2772DB;
  overflow: hidden;
  transition: .3s ease;
}
.search_button:hover {
  background-color: #2062bf;
}
.file_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
body {
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro" ,"ヒラギノ角ゴ　Pro　W3" ,メイリオ ,meiyo, "MS Pゴシック","Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(5, 5, 19);
    color: white;
    text-align: center;
}
.title-name {
    color: white;
}
.gamesearch-icon-contents {
    width: 20%;
    max-width: 100px;
    position: absolute;
    margin: 0 auto;
}
.gamesearch-icon-contents::before {
    content: "";
    display: block;
    padding-top: 100%;
}
.gamesearch-user-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 10%;
    left: -130%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}
.game-search-img-contents {
    max-width: 300px;
    position: relative;
    margin: 0 auto;
}
.gamesearch-user-name {
    position: absolute;
    top: 65%;
    left: 110%;
}
.game-search-img-contents::before {
    content: "";
    display: block;
    padding-top: 100%;
}
 .game-search-img-contents img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}  
.game-search-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.game-search-item {
    width: 45%;
    max-width: 400px;
    padding: 0 20px;
}
.game-search-img {
    border-radius: 20px;
}
.game-search-name {
    font-size: clamp(10px, 7vw, 20px);
    margin-top: 0px;
    margin-bottom: 60px;
    }
.cp_iptxt {
	position: relative;
	width: 50%;
	margin: 5px 25%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.gamesearch_input {
    margin: 0 0 8px 0;
}
.search_button {
  display: inline-block;
  position: relative;
  padding: 0.2em 0.6em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: #2772DB;
  overflow: hidden;
  transition: .3s ease;
}
.search_button:hover {
  background-color: #2062bf;
}
.file_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
@media (max-width:720px) {
    .gamesearch-user-icon {
        width: 80%;
        height: 80%;
    }
}
@media (max-width:615px) {
    .gamesearch-user-icon {
        width: 65%;
        height: 65%;
        left: -100%;
    }
}
@media (max-width:519px) {
    body {
    margin-top: 80px;
    }
    .gamesearch-user-icon {
        width: 100%;
        height: 100%;
        left: -175%;
    }
    .game-search-contents {
        margin: 0 auto;
    }
    .game-search-img {
        width: 100%;
        object-fit: cover;
    }
    .game-search-img-contents {
        max-width: 480px;
    }
    .game-search-item {
        width: 100%;
    }
}